<h2><%= @restaurant.name %></h2>
<%= @restaurant.address %>
<%= @restaurant.phone_number %>
<p><%= @restaurant.category.capitalize %> cuisine</p>
<p><strong>Reviews</strong></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><b>Review:</b><%= review.content %> <b>Rating:</b><%= review.rating %></li>
  <% end %>
</ul>
<hr>

<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating%>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>


<div class="link">
  <%= link_to "Back to Restaurants", restaurants_path %>
</div>
